hr {
    border: 1px solid rgba(24, 24, 24, 1);

}

footer {
    background-color: #050400;
    color: #fff;
}

.footer-section {
    padding: 10% 0;
}

.footer-footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr auto;
    column-gap: 3rem;
    padding-bottom: 130px;
}

.footer-footer ul li {
    list-style-type: none;
    font-size: 1.125rem;
    line-height: 2.5rem;
}

.footer-footer li a {
    text-decoration: none;
    color: #fff;
}

.footer-footer li a:hover {
    color: #00A3FF;
    transition: 0.5s;
}


/* responsiveness */
@media (max-width: 560px) {
    .footer-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .footer-section {
        text-align: center;
    }
}

@media (max-width: 1040px) {
    .footer-logo {
        width: 35%;
    }

    .footer-footer {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }
}