.logo {
    width: 35%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    position: fixed;
    width: 100%;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    cursor: pointer;
    text-decoration: none;
    padding-right: 5rem;
    color: #fff;
}

nav ul li a:hover {
    color: #00A3FF;
}

/* Used to change bg of navabr after certain scroll distance */
.navbar-scroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    position: fixed;
    width: 100%;
    background-color: #050400;
    transition: all 1s ease-in;
    z-index: 5;
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    background: #050400;
}

.navlinks {
    position: relative;
    top: 30%;
    width: 100%;
    padding-left: 30%;
}

.overlay ul{
    display: flex;
    flex-direction: column;
}

.overlay a{
    font-size: 4rem;
    font-weight: 700;
    display: block;
    line-height: 2em;
    transition: 0.3s;
    letter-spacing: 0.15em;
}

.burger {
    display: block;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

.overlay .closebtn {
    position: absolute;
    top: 4.2%;
    right: 2.2%;
    color: #fff;
    font-size: 2rem;
    display: block;
    cursor: pointer;
}

/* responsiveness */

/* Landscape phone */
@media (max-width: 750px){
    .navlinks {
        padding-left: 10%;
        top: 20%;
    }

    .overlay a{
        font-size: 3rem;
    }

    .logo {
        width: 25%;
    }

    .burger {
        font-size: 1.5rem;
    }

    .overlay .closebtn {
        font-size: 1.5rem;
    }
}

/* Tablet */
@media (max-width: 1040px){
    .overlay a{
        font-size: 3rem;
    }
}

